{
  "name": "Front End Boilerplate",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/js/app.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"assets/js/app.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"assets/js/app-dist.js\"}"
    },
    {
      "path": "src/css/partials/_fonts.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/_fonts.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/_fonts.css\"}"
    },
    {
      "path": "vendors/imagesloaded/imagesloaded.pkgd.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/imagesloaded/imagesloaded.pkgd.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/imagesloaded/imagesloaded.pkgd.min-dist.js\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":false,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "src/jade/index.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"src/jade/index.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"index.html\"}"
    },
    {
      "path": "src/js/_layout-framework.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/_layout-framework.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/js/_layout-framework-dist.js\"}"
    },
    {
      "path": "src/js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/app.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"path\":\"src/js/app.js\",\"mangle\":true}}"
    },
    {
      "path": "src/js/libs.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/libs.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"compiler-javascript\":{\"path\":\"src/js/libs.js\",\"mangle\":true}}"
    },
    {
      "path": "src/css/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/app.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"path\":\"src/css/app.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "src/css/mobile.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/mobile.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":false,\"customOutput\":\"assets/css/mobile.css\"}"
    },
    {
      "path": "src/css/partials/_animate.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/_animate.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/_animate.css\"}"
    },
    {
      "path": "src/css/partials/_app-reset.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/_app-reset.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/_app-reset.css\"}"
    },
    {
      "path": "src/css/partials/_globals.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/_globals.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/_globals.css\"}"
    },
    {
      "path": "src/css/partials/_layout-framework.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/_layout-framework.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/_layout-framework.css\"}"
    },
    {
      "path": "src/css/partials/animations/_fade-in-down.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/animations/_fade-in-down.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/animations/_fade-in-down.css\"}"
    },
    {
      "path": "src/css/partials/animations/_fade-in-left.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/animations/_fade-in-left.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/animations/_fade-in-left.css\"}"
    },
    {
      "path": "src/css/partials/animations/_fade-in.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/animations/_fade-in.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/animations/_fade-in.css\"}"
    },
    {
      "path": "src/css/partials/animations/_zoom-in.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/css/partials/animations/_zoom-in.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"assets/css/partials/animations/_zoom-in.css\"}"
    },
    {
      "path": "assets/js/libs.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"assets/js/libs.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"assets/js/libs-dist.js\"}"
    },
    {
      "path": "assets/css/app.css",
      "configJson": "{\"compiler-css\":{\"path\":\"assets/css/app.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"assets/css/app-dist.css\"}"
    },
    {
      "path": "assets/css/mobile.css",
      "configJson": "{\"compiler-css\":{\"path\":\"assets/css/mobile.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"assets/css/mobile-dist.css\"}"
    },
    {
      "path": "assets/css/partials/_app-reset.css",
      "configJson": "{\"compiler-css\":{\"path\":\"assets/css/partials/_app-reset.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"assets/css/partials/_app-reset-dist.css\"}"
    },
    {
      "path": "src/js/components/_countdown-timer.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/components/_countdown-timer.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"assets/js/components/_countdown-timer-dist.js\"}"
    },
    {
      "path": "src/js/components/_lightbox.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/components/_lightbox.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"assets/js/components/_lightbox-dist.js\"}"
    },
    {
      "path": "src/js/components/_animate-scroll.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/components/_animate-scroll.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"assets/js/components/_animate-scroll-dist.js\"}"
    },
    {
      "path": "src/js/components/_sticky-nav-pagination.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/components/_sticky-nav-pagination.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"assets/js/components/_sticky-nav-pagination-dist.js\"}"
    },
    {
      "path": "src/js/components/_on-resize.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/components/_on-resize.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"assets/js/components/_on-resize-dist.js\"}"
    },
    {
      "path": "src/jade/_layout.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"src/jade/_layout.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"html/_layout.html\"}"
    },
    {
      "path": "vendors/bootstrap-sass/CHANGELOG.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/bootstrap-sass/CHANGELOG.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/bootstrap-sass/CHANGELOG.html\"}"
    },
    {
      "path": "vendors/bootstrap-sass/CONTRIBUTING.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/bootstrap-sass/CONTRIBUTING.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/bootstrap-sass/CONTRIBUTING.html\"}"
    },
    {
      "path": "vendors/bootstrap-sass/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/bootstrap-sass/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/bootstrap-sass/README.html\"}"
    },
    {
      "path": "vendors/ev-emitter/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/ev-emitter/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/ev-emitter/README.html\"}"
    },
    {
      "path": "vendors/ev-emitter/ev-emitter.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/ev-emitter/ev-emitter.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/ev-emitter/ev-emitter-dist.js\"}"
    },
    {
      "path": "vendors/imagesloaded/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/imagesloaded/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/imagesloaded/README.html\"}"
    },
    {
      "path": "vendors/imagesloaded/gulpfile.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/imagesloaded/gulpfile.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/imagesloaded/gulpfile-dist.js\"}"
    },
    {
      "path": "vendors/imagesloaded/imagesloaded.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/imagesloaded/imagesloaded.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/imagesloaded/imagesloaded-dist.js\"}"
    },
    {
      "path": "vendors/imagesloaded/imagesloaded.pkgd.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/imagesloaded/imagesloaded.pkgd.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/imagesloaded/imagesloaded.pkgd-dist.js\"}"
    },
    {
      "path": "vendors/jquery/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/jquery/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/jquery/README.html\"}"
    },
    {
      "path": "vendors/rellax/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/rellax/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/rellax/README.html\"}"
    },
    {
      "path": "vendors/reset-css/_reset.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"vendors/reset-css/_reset.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":false,\"customOutput\":\"vendors/reset-css/_reset.css\"}"
    },
    {
      "path": "vendors/reset-css/reset.css",
      "configJson": "{\"compiler-css\":{\"path\":\"vendors/reset-css/reset.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"vendors/reset-css/reset-dist.css\"}"
    },
    {
      "path": "vendors/reset-css/reset.less",
      "configJson": "{\"compiler-less\":{\"path\":\"vendors/reset-css/reset.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"vendors/reset-css/reset.css\"}"
    },
    {
      "path": "vendors/swiper/CHANGELOG.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/swiper/CHANGELOG.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/swiper/CHANGELOG.html\"}"
    },
    {
      "path": "vendors/swiper/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/swiper/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/swiper/README.html\"}"
    },
    {
      "path": "vendors/wow/Gruntfile.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/wow/Gruntfile.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/wow/Gruntfile-dist.js\"}"
    },
    {
      "path": "vendors/wow/README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"vendors/wow/README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"vendors/wow/README.html\"}"
    },
    {
      "path": "vendors/jquery/dist/jquery.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/jquery/dist/jquery.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/jquery/dist/jquery-dist.js\"}"
    },
    {
      "path": "vendors/jquery/dist/core.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/jquery/dist/core.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/jquery/dist/core-dist.js\"}"
    },
    {
      "path": "vendors/jquery/dist/jquery.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"vendors/jquery/dist/jquery.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":true,\"customOutput\":\"vendors/jquery/dist/jquery.min-dist.js\"}"
    },
    {
      "path": "vendors/rellax/css/bootstrap.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"vendors/rellax/css/bootstrap.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"vendors/rellax/css/bootstrap.min-dist.css\"}"
    },
    {
      "path": "vendors/rellax/css/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"vendors/rellax/css/main.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"vendors/rellax/css/main-dist.css\"}"
    },
    {
      "path": "vendors/wow/css/site.css",
      "configJson": "{\"compiler-css\":{\"path\":\"vendors/wow/css/site.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"vendors/wow/css/site-dist.css\"}"
    },
    {
      "path": "vendors/swiper/dist/css/swiper.css",
      "configJson": "{\"compiler-css\":{\"path\":\"vendors/swiper/dist/css/swiper.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"vendors/swiper/dist/css/swiper-dist.css\"}"
    },
    {
      "path": "vendors/swiper/dist/css/swiper.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"vendors/swiper/dist/css/swiper.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"vendors/swiper/dist/css/swiper.min-dist.css\"}"
    },
    {
      "path": "vendors/wow/css/libs/animate.css",
      "configJson": "{\"compiler-css\":{\"path\":\"vendors/wow/css/libs/animate.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"vendors/wow/css/libs/animate-dist.css\"}"
    },
    {
      "path": "src/jade/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/css/desktop.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/desktop.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "pug/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "js/libs.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/assets/js/libs.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    },
    {
      "path": "js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/assets/js/app.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\",\"compiler-javascript\":{\"mangle\":true}}"
    },
    {
      "path": "css/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/app.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"outputSuffix\":null}"
    },
    {
      "path": "scss/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/app.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/jade",
      "src/css",
      "src/pug",
      "src/js",
      "css",
      "scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "js/app.js",
      "imports": [
        "js/libs/_OnResize.js",
        "js/components/LandingComponent.js"
      ]
    },
    {
      "path": "js/libs.js",
      "imports": [
        "vendors/jquery/dist/jquery.min.js",
        "vendors/imagesloaded/imagesloaded.pkgd.min.js",
        "vendors/swiper/dist/js/swiper.jquery.js",
        "vendors/wow/dist/wow.min.js",
        "vendors/rellax/rellax.min.js"
      ]
    },
    {
      "path": "pug/_layout.pug",
      "imports": [
        "pug/components/_navigation.pug"
      ]
    },
    {
      "path": "pug/index.pug",
      "imports": [
        "pug/_layout.pug",
        "pug/components/_navigation.pug"
      ]
    },
    {
      "path": "scss/app.scss",
      "imports": [
        "scss/libs/_libraries.scss",
        "scss/components/_typeface.scss",
        "scss/components/_elements.scss",
        "scss/components/_navigation.scss",
        "scss/components/_blocks.scss",
        "scss/components/_post.scss",
        "scss/components/_lightbox.scss",
        "scss/components/_footer.scss",
        "scss/components/_variables.scss",
        "scss/libs/_mixin.scss",
        "vendors/reset-css/_reset.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss",
        "scss/libs/_normalize.scss",
        "scss/libs/_animate.scss",
        "scss/libs/_form.scss",
        "scss/libs/_lightbox.scss",
        "scss/libs/_loading-animation.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_hide-text.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_opacity.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_image.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_labels.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_reset-filter.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_resize.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_responsive-visibility.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_size.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tab-focus.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_reset-text.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-overflow.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_alerts.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_buttons.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_panels.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_pagination.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_list-group.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-divider.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_forms.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_progress-bar.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_background-variant.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_border-radius.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_gradients.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_center-block.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-vertical-align.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss",
        "scss/libs/animations/_fade-in.scss",
        "scss/libs/animations/_fade-in-down.scss",
        "scss/libs/animations/_fade-in-left.scss",
        "scss/libs/animations/_zoom-in.scss"
      ]
    },
    {
      "path": "scss/libs/_animate.scss",
      "imports": [
        "scss/libs/animations/_fade-in.scss",
        "scss/libs/animations/_fade-in-down.scss",
        "scss/libs/animations/_fade-in-left.scss",
        "scss/libs/animations/_zoom-in.scss"
      ]
    },
    {
      "path": "scss/libs/_libraries.scss",
      "imports": [
        "scss/components/_variables.scss",
        "scss/libs/_mixin.scss",
        "vendors/reset-css/_reset.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss",
        "scss/libs/_normalize.scss",
        "scss/libs/_animate.scss",
        "scss/libs/_form.scss",
        "scss/libs/_lightbox.scss",
        "scss/libs/_loading-animation.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_hide-text.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_opacity.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_image.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_labels.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_reset-filter.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_resize.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_responsive-visibility.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_size.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tab-focus.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_reset-text.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-overflow.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_alerts.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_buttons.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_panels.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_pagination.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_list-group.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-divider.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_forms.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_progress-bar.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_background-variant.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_border-radius.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_gradients.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_center-block.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-vertical-align.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework.scss",
        "vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss",
        "scss/libs/animations/_fade-in.scss",
        "scss/libs/animations/_fade-in-down.scss",
        "scss/libs/animations/_fade-in-left.scss",
        "scss/libs/animations/_zoom-in.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "sass",
      "scss",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "html",
      "htm",
      "css",
      "rb",
      "php",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "json",
      "ts",
      "pug",
      "less",
      "styl"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "Prepros Build",
    ".git",
    ".idea",
    ".sass-cache",
    ".hg",
    ".svn",
    ".cache",
    "config.rb",
    ".DS_Store",
    "/src/vendors",
    "/vendors"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[\"dist/assets/css\"]},\"compiler-minify-css\":{\"enabled\":true},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"outputSuffix\":null}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/css\"],\"replaceSegmentsWith\":[\"assets/css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"replaceSegments\":[\"dist\"]},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[],\"relative\":\"dist/assets/css\"},\"outputSuffix\":\"\",\"autoCompile\":false}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"dist/assets/js\"]},\"outputSuffix\":\"\",\"autoCompile\":false,\"compiler-javascript\":{\"mangle\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/css\"],\"replaceSegmentsWith\":[\"assets/css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/jade\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/jade\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/jade\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/js\"],\"replaceSegmentsWith\":[\"assets/js\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/js\"],\"replaceSegmentsWith\":[\"assets/js\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"src/jade\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}