$mq-small-screen : '(max-width: 1200px)'
$mq-tablets      : '(max-width: 992px)'
$mq-phones       : '(max-width: 768px)'

$header-height   : 50px
$footer-height   : 50px

/////////////////////////////////////////////
// MixIns
/////////////////////////////////////////////
=transition($duration:"0.3s")
    transition: all #{$duration} ease-in-out

=vert-align($topValue:"50%")
    transform: translateY(-50%)
    top: #{$topValue}

/////////////////////////////////////////////
// Global
/////////////////////////////////////////////
h1
    font-size: 50px

h3
    font-size: 20px

#page-wrapper
    min-height: calc(100vh - #{$footer-height})
    // top: #{$header-height} // Use this if navigation is relative
    width: 100%


.no-scroll
    overflow: hidden

.vert-align
    transform: translateY(-50%)
    top: 50%

// Use jquery at all classes one after another
// forming a fade in effect from display: none
.show
    display: block !important
    &.visually-show
        opacity: 1 !important

/////////////////////////////////////////////
// Items
/////////////////////////////////////////////
.horizontal-nav
    z-index: 10
    height: 50px
    &.fixed
        position: fixed
        transform: translateX(-50%)
        left: 50%
    &.absolute
        position: absolute
    ul
        text-align: center
        li
            display: inline-block
            padding: 0 10px
            height: 50px

.lightbox
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.75)
    z-index: 99
    display: none
    opacity: 0

    svg
        position: absolute
        top: 25px
        right: 25px
        width: 20px
        height: 20px
        cursor: pointer
        path
            fill: #fff
            stroke: #fff
    .wrapper
        margin: 0 auto

.container-fluid,
.container,
.horizontal-nav
    width: 100%
    padding: 0 15px
    margin: 0 auto

.container
    margin: 0 auto
    width: 1170px

.col
    display: inline-block
    vertical-align: top
    width: 33%
    padding: 0


@media #{$mq-small-screen}
    .container
        width: 970px
@media #{$mq-tablets}
    .container
        width: 750px
    .col
        width: 49%
@media #{$mq-phones}
    .container
        width: auto
    .col
        width: 100%


a.button
    border: 1px solid #999
    height: 40px
    line-height: 38px
    padding: 0 40px
    border-radius: 6px
    text-align: center

.footer
    height: #{$footer-height}
