@import 'app-reset'
@import 'layout-framework'


/************************************/
/*			GLOBAL STYLES			*/
/************************************/
body
    font-family: helvetica
    font-size: 16px


/************************************/
/*			BASIC STYLES			*/
/************************************/
.horizontal-nav
    .logo
        float: left
        width: 20%
        line-height: 50px
        +transition(0.3s)

        &:hover
            color: rgb(236, 86, 65)
    ul
        text-align: right
        width: 80%
        float: left

.hero
    background-color: rgb(182, 108, 255)
    height: 400px
    h1, h3
        text-align: center
    h1
        margin-bottom: 40px

.container-fluid
    background-color: rgb(43, 221, 185)

.cb1
    background-color: rgb(77, 175, 255)

.footer
    background-color: rgb(255, 170, 42)
    width: 100%
