@import "_app-reset"

/************************************/
/*			BASIC STYLES			*/
/************************************/
.hero,
.content-block
    height: 400px
    width: 100%

.hero
    background-color: rgb(182, 108, 255)

.content-block
    background-color: rgb(43, 221, 185)
