nav.container-fluid

	a.logo(href="/")
		//- include ../svg/logo.svg


	#openBtn.hamburger
		span
		span
		span

	.menu.container
		.list
			ul
				li.active
					a(href="/about.html") About Us
				li
					a(href="/wedding.html") Wedding
				li
					a(href="/events.html") Events
				li
					a(href="/portfolio.html") Portfolio
