doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title WEB TITLE

		meta(name='language', content='en')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

		//- INSERT FAVICON HERE

		//- *********************** -//
		//- 		CSS FILES 		-//
		//- *********************** -//

		//- CSS FILE: RESET
		link(type='text/css', rel='stylesheet', media='all', href='assets/css/normalize.css')

		//- CSS FILE: BOOTSTRAP
		//- link(type='text/css', rel='stylesheet', media='all', href='assets/css/bootstrap.min.css')

		//- CSS FILE: SWIPER
		link(type='text/css', rel='stylesheet', media='all', href='assets/css/swiper.min.css')

		//- CSS FILE: ANIMATION
		link(type='text/css', rel='stylesheet', media='all', href='assets/css/animate.min.css')

		//- CSS FILE: APP
		link(type='text/css', rel='stylesheet', media='all', href='assets/css/app.css')










	body
		#page-wrapper
			block page


		.footer
			.container
				span Copyright &copy; 2015 Copyright Holder All Rights Reserved.






	//- *********************** -//
	//- 		JS FILES 		-//
	//- *********************** -//

	//- JS FILE: GENERAL
	script(src='assets/js/jquery-1.12.0.min.js')

	//- JS FILE: BOOTSTRAP
	//- script(src='assets/js/bootstrap.min.js')

	//- JS FILE: SWIPER
	script(src='assets/js/swiper.min.js')

	//- JS FILE: WOW
	script(src='assets/js/wow.min.js')

	//- JS FILE: READ MORE
	script(src='assets/js/readmore.min.js')

	//- JS FILE: APP
	script(src='assets/js/app.js')
