/////////////////////////////////////////////
// SASS Globals
/////////////////////////////////////////////
$nav-height      : 50px;
$footer-height   : 50px;

$mq-md-992-1199: '(max-width: 1199px)';
$mq-sm-768-991: '(max-width: 991px)';
$mq-xs-480-767: '(max-width: 767px)';
$mq-xxs-375-479: '(max-width: 479px)';
$mq-xxxs-min-374: '(max-width: 374px)';

$retina: 'all and (-webkit-min-device-pixel-ratio : 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5)';

/////////////////////////////////////////////
// MixIns
/////////////////////////////////////////////
@mixin transition($duration: 0.3s, $delay:"0s") {
	transition: all #{$duration} ease-in-out;
	transition-delay: #{$delay};
}

@mixin v-align($topValue:"50%") {
	transform: translateY(-50%);
	top: #{$topValue};
}

@mixin at2x($path, $ext: "jpg") {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}@2x.#{$ext}";
	background-image: url("#{$at1x_path}");
	
	@media all and (-webkit-min-device-pixel-ratio : 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
		background-image: url("#{$at2x_path}");
	}
}
/////////////////////////////////////////////
// Functions
/////////////////////////////////////////////
@function em($pixels, $context: "16") {
	@return #{$pixels/$context}rem;
}
