#page-wrapper {
	min-height: calc(100vh - #{$footer-height});
	width: 100%;
	overflow-x: hidden;
}

////////////////////////////////////
// Button
////////////////////////////////////
.button, .button:hover, .button:visited, .button:active {
	border: 1px solid #999;
	color: #{$btn-color};
	cursor: pointer;
	border-color: #{$btn-border-color};
	display: inline-block;
	height: 40px;
	line-height: 39px;
	padding: 0 35px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}


////////////////////////////////////
// Utilities
////////////////////////////////////

// Overflow
.no-scroll-x { overflow-x: hidden; }
.no-scroll-y { overflow-y: hidden; }
.no-scroll { overflow: hidden; }

// Align
.v-align {
	transform: translateY(-50%);
	top: 50%;
}

.h-align {
	transform: translateX(-50%);
	left: 50%;
}

.c-align {
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	left: 50%;
}

// Flex
.d-flex {
	display: flex;
	flex-wrap: wrap;
}
