doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title WEB TITLE

		meta(name='language', content='en')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

		//- SEO Meta Description
		meta(name="description" content="Lorem Ipsum")
		//- SEO Keywords
		meta(name="keywords" content="fixx,digital,web,website,design,designer,development")
		//- hreflang
		link(rel="alternate", href="http://fixxstaging.com/fixx", hreflang="x-default")

		//- INSERT FAVICON HERE

		//- *********************** -//
		//- 	   CSS FILES 		-//
		//- *********************** -//

		//- CSS FILE: APP
		link(type='text/css', rel='stylesheet', media='all', href='assets/css/app.css')

		//- CSS FILE: MOBILE
		link(type='text/css', rel='stylesheet', href='assets/css/mobile.css', media="(max-width: 1199)")








	body
		#site-wrapper

			//- Lightbox
			.lightbox#main
				.wrapper.v-align
				svg#close(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-176.8 210.2 55.7 55.5', style='enable-background:new -176.8 210.2 55.7 55.5;', xml:space='preserve')
					g
						path(d='M-176,210.2c-0.1,0-0.1,0-0.1,0c-0.6,0.1-0.8,0.9-0.4,1.3l26.4,26.4l-26.4,26.4c-0.4,0.3-0.4,0.9-0.1,1.2 c0.3,0.3,0.9,0.3,1.2-0.1l26.5-26.4l26.5,26.4c0.3,0.4,0.8,0.4,1.2,0.1c0.3-0.3,0.3-0.9-0.1-1.2l-26.5-26.4l26.5-26.4 c0.5-0.5-0.1-1.5-0.7-1.3c-0.2,0-0.3,0.1-0.4,0.2l-26.5,26.4l-26.5-26.4C-175.6,210.3-175.8,210.2-176,210.2L-176,210.2z')

			//- Navigation
			.horizontal-nav.fixed

				.logo
					| logo

				#hamburger
					span
					span
					span
					span

				.menu
					ul
						li
							a Home
						li
							a Brochure
						li
							a About
						li
							a Contact





			//- Main Content
			block page





			.footer
				.container
					span Copyright &copy; 2015 Copyright Holder All Rights Reserved.






	//- *********************** -//
	//- 		JS FILES 		-//
	//- *********************** -//
	
	//- JS FILE: All 3rd Party Libraries
	script(src="assets/js/libraries.js")

	block javascript

	//- JS FILE: APP
	script(src='assets/js/app.js')
	
	//- JS FILE: GOOGLE MAPS
	//- Has to be after main JS file as init function resides there
	//- script(src="https://maps.googleapis.com/maps/api/js?callback=initMap", async, defer)
