extends layout
block page
	#page-wrapper.landing
		.container-fluid.hero
			.container.v-align
				h1 Lorem Ipsum
				h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.




		.container-fluid.cb1
			.container
				.col-xs-12

					.loading-dots
						.dot
						.dot
						.dot


		.container-fluid.cb2
			.container.v-align
				.col-lg-6.col-lg-offset-3
					h1 Input fields
					input(type="text" placeholder="Input Field")

					//- File upload styling
					.file-upload-container
						input#file-upload(type="file" placeholder="Upload File")
						label Choose File
					textarea(placeholder="Textarea")





		.container-fluid.cb3
			.container
				.col-md-4.wow.fadeInDown
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.col-md-4.wow.fadeInDown(data-wow-delay="0.1s")
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.col-md-4.wow.fadeInDown(data-wow-delay="0.2s")
					.swiper-slide laksjdflkjs

		.container-fluid.cb4
			#map
